{% extends 'base.html.twig' %}

{% block title %}Projets
{% endblock %}

{% block body %}

<!-- Container for demo purpose -->
<div class="container mx-auto md:px-6 min-h-screen ">
  <!-- Section: Design Block -->
  <section class=" text-center lg:text-left ">
    <h2 class="mb-12 text-center text-3xl font-bold p-5"> Mes sites en ligne </h2>

    <div class="grid gap-x-6 lg:grid-cols-3">
      <div class="mb-12 lg:mb-0">
        <div class="h-[50dvh] lg:h-[30dvh] relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]" data-te-ripple-init data-te-ripple-color="light">
          <img src="{{ asset('images/projets/obroderie.png') }}" class="w-full" alt="obroderie website screenshot" />
          <a href="http://obroderie.lorlor.site/">
            <div
              class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,0.2)]"></div>
          </a>
        </div>
        <h5 class="mb-4 text-lg font-bold">OBroderie</h5>
        <div class="mb-4 flex items-center justify-center text-sm font-medium text-danger dark:text-danger-500 lg:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
          </svg>
          En cours
        </div>
        <p class="text-neutral-500 dark:text-neutral-300">
          Application pour une PME de broderie de type ERP. Elle permet de créer des devis, des factures et des commandes depuis la liste des produits. Réalisée avec React.js et Symfony.
        </p>
         <p class="text-neutral-500 dark:text-neutral-300">
         Réalisé avec React et Symfony cbdbbcvbc.
        </p>
      </div>

      <div class="mb-12 lg:mb-0 overflow-hidden">
        <div class="h-[50dvh] lg:h-[30dvh] relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]" data-te-ripple-init data-te-ripple-color="light">
          <img src="{{ asset('images/projets/portfolio.png') }}" class="w-full h-full " alt="memento website screenshot" />
          <a href="https://lorlor31.github.io/">
            <div
              class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,0.2)]"></div>
          </a>
        </div>

        <h5 class="mb-4 text-lg font-bold">Portfolio</h5>
<div class="mb-4 flex items-center justify-center text-sm font-medium text-danger dark:text-danger-500 lg:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
          </svg>
          En cours
        </div>
        <p class="text-neutral-500 dark:text-neutral-300">
          Portfolio en construction
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
          Réalisé avec React et Tailwind.
        </p>
      </div>

      <div class="mb-12 lg:mb-0">
        <div class="h-[50dvh] lg:h-[30dvh] relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]" data-te-ripple-init data-te-ripple-color="light">
          <img src="{{ asset('images/projets/memento.png') }}" class="w-full min-h-full" alt="memento website screenshot" />
          <a href="https://lorlor31.github.io/Memento/">
            <div
              class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,0.2)]"></div>
          </a>
        </div>

        <h5 class="mb-4 text-lg font-bold">Memento</h5>
        <div class="mb-4 flex items-center justify-center text-sm font-medium text-primary dark:text-primary-400 lg:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3" />
          </svg>
          Learning
        </div>
        <p class="text-neutral-500 dark:text-neutral-300">
          C'est mon aide-mémoire où je note tout ce qui me semble devoir être réutilisé ultérieurement.
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
          Réalisé en HTML/CSS/JS vanilla.
        </p>
      </div>

      <div class="mb-0">
        <div class="h-[50dvh] lg:h-[30dvh] relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]" data-te-ripple-init data-te-ripple-color="light">
          <img src="{{ asset('images/projets/advent_calendar.png') }}" class="w-full min-h-full" alt="advent calendar website screenshot" />
          <a href="https://lorlor31.github.io/Advent-Calendar/">
            <div
              class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,0.2)]"></div>
          </a>
        </div>

        <h5 class="mb-4 text-lg font-bold">Advent-Calendar</h5>
        <div class="mb-4 flex items-center justify-center text-sm font-medium text-warning lg:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
          </svg>
          Family friendly
        </div>
        <p class="text-neutral-500 dark:text-neutral-300">
          Mon premier site codé (ouais parce que j'en ai déjà fait un avec un éditeur wysiwyg il y a fort longtemps... 
          <a href="http://lorlor.free.fr" class="underline">ici pour les curieux :) </a>
          Réalisé en HTML/CSS/JS vanilla.
        </p>

      </div>

       <div class="mb-0">
        <div class="h-[50dvh] lg:h-[30dvh] relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]" data-te-ripple-init data-te-ripple-color="light">
          <img src="{{ asset('images/projets/fichesdevweblaure.png') }}" class="w-full min-h-full" alt="advent calendar website screenshot" />
          <a href="https://lorlor-fiches.surge.sh/">
            <div
              class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,0.2)]"></div>
          </a>
        </div>

        <h5 class="mb-4 text-lg font-bold">Fiches De Laure</h5>
        <div class="mb-4 flex items-center justify-center text-sm font-medium text-primary dark:text-primary-400 lg:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3" />
          </svg>
          Learning
        </div>
        <p class="text-neutral-500 dark:text-neutral-300">
          Mes fiches sur quelques procédures de déploiement et autres
    
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
          Réalisé avec VitePress.
        </p>
      </div>

       <div class="mb-0">
        <div class="h-[50dvh] lg:h-[30dvh] relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]" data-te-ripple-init data-te-ripple-color="light">
          <img src="{{ asset('images/projets/bloglor.png') }}" class="w-full min-h-full" alt="advent calendar website screenshot" />
          <a href="https://bloglor.lorlor.site/">
            <div
              class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,0.2)]"></div>
          </a>
        </div>

        <h5 class="mb-4 text-lg font-bold">Ce blog</h5>
        <div class="mb-4 flex items-center justify-center text-sm font-medium text-danger dark:text-danger-500 lg:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
          </svg>
          En cours
        </div>
        <p class="text-neutral-500 dark:text-neutral-300">
Au cas où vous l'auriez raté !    
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
          Réalisé avec Symfony et Tailwind.
        </p>
      </div>


    </div>


  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->


{% endblock %}